<h1>Show</h1>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<div>
  <h3>Reviews:</h3>
  <% @restaurant.reviews.each do |r| %>
    <div>
      <p><%= r.content %> : <%= r.rating %></h4>
    </div>
  <% end %>
</div>

<div>
  <h3>New review:</h3>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit %>
    <% end %>
</div>

<div>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<div>
<div>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary" %>
<div>
